/helloworld2/nbproject/private/
/helloworld2/build/
/TreinoTeste/nbproject/private/
/TreinoTeste/build/
/testeFuncionalSomarParcelas/nbproject/private/
/testeFuncionalSomarParcelas/build/
/testeSoma/nbproject/private/
/testeSoma/build/