/helloworld2/nbproject/private/
/helloworld2/build/
/TreinoTeste/nbproject/private/
/TreinoTeste/build/
/testeFuncionalSomarParcelas/nbproject/private/
/testeFuncionalSomarParcelas/build/
/testeSoma/nbproject/private/
/testeSoma/build/
/javateste/nbproject/private/
/javateste/build/
/testeFormulario/nbproject/private/
/testeFormulario/build/
/javaTesteSoma/nbproject/private/
/javaTesteSoma/build/
/TiposGenericos/nbproject/private/
/TiposGenericos/build/
/semana1/nbproject/private/
/semana1/build/
/testesemana1/nbproject/private/
/testesemana1/build/
/Contador/nbproject/private/
/contador2/nbproject/private/
/contador2/build/
/OraculoMVC/nbproject/private/
/OraculoMVC/build/
/.metadata/
/Srmana2/nbproject/private/
/Srmana2/build/
/Semana4/nbproject/private/
/Semana4/build/
/semana4/nbproject/private/
/testeSemana1Novo/nbproject/private/
/testeSemana1Novo/build/